.singlePost {
    flex: 9;
}

.singlePostWrapper {
    padding: 20px;
    padding-right: 0px;

}

.singlePostImg {
    width: 100%;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
}

.singlePostTitle {
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 24px;
}

.singlePostEdit {
    float: right;
    font-size: 16px;
}

.singlePostIcon {
    margin-left: 10px;
    cursor: pointer;
}

/* first icon = first child */
.singlePostIcon:first-child {
    color: orchid;
}

/* second icon = last child, because it is the only other child of the className singlePostIcon */
.singlePostIcon:last-child {
    color: blue;
}


.singlePostAuthor {
    margin-bottom: 20px;
    display: flex;
    font-size: 16px;
    font-family: 'Stick No Bills', sans-serif;
    color: pink;
}

.singlePostDescription {
    color: blue;
    font-size: 18px;
    line-height: 25px;
}

.singlePostDescription::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}

.singlePostInformation {

}

.singlePostDate {
    
}

