/* the .settings being set to display: flex as well as having the .settingsWrapper set to flex: 9 places the sidebar on the side of the screen */
.settings {
    display: flex;
}

.settingsWrapper {
    flex: 9;
    padding: 20px;

}

.settingsTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.settingsUpdateTitle {
    font-size: 30px;
    margin-bottom: 8px;
    color: green;
}

.settingsDeleteTitle {
    color: red;
    font-size: 14px;
    cursor: pointer;
}

.settingsForm {
    display: flex;
    flex-direction: column;
}

.settingsProfilePicture {
    display: flex;
    align-items: center;
    margin-top: 10px 0px;
}

.settingsProfilePicture > img {
    width: 70px;
    height: 70px;
    border-radius: 25px;
    object-fit: cover;
}


.settingsProfilePictureIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

.settingsForm > label {
    font-size: 20px;
    margin-top: 20px;
}

.settingsForm > input {
    color: slategray;
    margin: 10px 0px;
    height: 30px;
    border: none;
    border-bottom:2px solid green;
}

.settingsSubmit {
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: green;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}