.header {
    margin-top: 60px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: black;
}

.headerTitleSm {
    position: absolute;
    top: 18%;
    font-size: 30px;
    /* font-size: 20px  this was the original setting */
}

.headerTitleLg {
    position: absolute;
    top: 20%;
    font-size: 75px;
    /* font-size: 100px  this was the original setting */
}

.headerImg {
    width: 100%;
    height: 450px;
    /* margin-top: 80px;  took this out because the top had too much space*/ 
    object-fit: cover;
}

/* changed Random Thoughts to .headerTitleLg */
/* changed Blog to .headerTitleSm */
