.header {
    margin-top: 60px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-family: 'Koh Santepheap', cursive;
}

.headerTitleSm {
    position: absolute;
    top: 45%;
    font-size: 40px;
    /* font-weight: bold; */
    color: 
}

.headerTitleLg {
    position: absolute;
    top: 55%;
    font-size: 40px;
    /* font-weight: bold; */
    font-family: 'Koh Santepheap', cursive;
}

.headerImg {
    width: 100%;
    height: 450px;
    /* margin-top: 80px;  took this out because the top had too much space*/ 
    object-position: cover;
}
