.header {
    margin-top: 60px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-family: 'Koh Santepheap', cursive;
}

.headerTitleSm {
    position: absolute;
    top: 35%;
    font-size: 30px;
}

.headerTitleLg {
    position: absolute;
    top: 40%;
    font-size: 60px;
    font-family: 'Koh Santepheap', cursive;
}

.headerImg {
    width: 100%;
    height: 450px;
    /* margin-top: 80px;  took this out because the top had too much space*/ 
    object-fit: cover;
}
