.register{
    /* The height calculation takes into account the full screen minus some pixels for the topbar */
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* background-color: pink; */
    background: url("https://media.istockphoto.com/photos/two-tree-branches-with-green-leaves-at-the-edges-on-a-concrete-table-picture-id1270374400?b=1&k=20&m=1270374400&s=170667a&w=0&h=Im8KW0MhQFSlTSYJ9DthYEaDAUSqMds9wO3prjOduHw=");
    background-size: cover;
}

.registerTitle {
    font-size: 50px;
    font-family: 'Koh Santepheap', cursive;
    /* font-weight: bold; */
    /* font-style: italic; */
}

.registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm > label {
    margin: 10px 0px;
}

.registerInput {
    padding: 10px;
    background-color: lightgray;
    border: none;
}

.registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: white;
    border: 1px solid brown;
    color: black;
    border-radius: 10px;
    padding: 10px;
}

.registerLoginButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: white;
    cursor: pointer;
    border: 1px solid brown;
    border-radius: 10px;
    padding: 10px;
    color: black;
}