.top {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    font-family: 'Koh Santepheap', cursive;
    z-index: 999;
}

/* This gives custom sizes to the additions to the topbar */
.topLeft, .topRight {
    flex: 3; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.topCenter {
    flex: 6;
}
/* moved the icons to the bottom/sidebar which was more pleasing to the eye */
/* .topIcon {
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
} */

/* this covers the <img> element */
.topImg {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

/* This takes the vertical list and makes it horizontal */
.topList {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

/* this spaces out the list items previously created */
.topListItem {
    margin-right: 20px;
    font-size:18px;
    font-weight: 300;
    cursor: pointer;
    color: black;
}

/* this styles the magnifying glass */
.topSearchIcon {
    font-size: 18px;
    color: green;
    cursor: pointer;
    margin-left: 15px;
    
}